.styleL {
  margin-left: 20px;
  margin-top: 40px;
  font-weight: bold;
}

.styleP{
  margin-left: 20px;
  font-weight: bold;
}
.ng-select.ABC {
  margin-left: 20px;
  width: 70%;
}


agm-map {
  height: 300px;
  width: 400px;
}


* {
  font-family: Lato;
}

a {
  color: white;
}
.mylabels{
  margin-left: 20px;
  font-weight: bold;

}
.input_class {
  margin-left: 50px;

}
.ad{
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  padding: .3em 0;
  height: 2em;
  width: 8em;
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
}
.myusers{
  display: inline;
}

.selected2 label{

  background-color: #007bff;
  color: white;
}
